<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/nav') %>
    <h2><%= blog.title %></h2>
    <p><%= blog.body %></p>
    <a class="delete" data-doc="<%= blog._id %>">Delete</a>
    <a class="update" data-doc="<%= blog._id %>">Update</a>
    <%- include('../partials/footer') %>
    <form action="/blogs" id="updateForm" style="opacity: 0">
      <label for="title">Title</label>
      <input type="text" name="title" class="title" />
      <label for="body">Body</label>
      <input type="text" name="body" class="body" />
      <input type="button" value="Submit" id="submitUpdateBtn" />
    </form>
    <script src="/detailsScript.js"></script>
  </body>
</html>
